# Intro to Data Science - Homework 2 - Spring 2025 - Wilmington College
## Due Date: February 21, 2025

## Q1: DataFrame Computation:
You are given the following DataFrame `df`:  

```python
df = pd.DataFrame({"Temperature": [72, 85, 90, 78, 65], "Humidity": [40, 55, 60, 50, 35]})
```

- a) Compute the average temperature.  
- b) Find the highest humidity recorded.  
- c) Calculate the cumulative sum of both columns.  
- d) Determine the difference between the maximum and minimum temperature.

In [1]:
#     **Solution**
# Type your solution here.

## Q2: Sorting and Ranking: 
Consider the DataFrame `cities`:  
```python
cities = pd.DataFrame({"City": ["New York", "Los Angeles", "Chicago", "Houston"],  
                       "Population": [8500000, 4000000, 2700000, 2300000],  
                       "Area": [300, 500, 600, 700]})
```
- a) Sort the cities by population in descending order.  
- b) Rank the cities based on area, with the largest getting rank 1.  
- c) Sort the DataFrame by city names alphabetically.

In [2]:
#     **Solution**
# Type your solution here.

## Q3: Statistical Analysis: 
Given the following sales data:  
```python
sales = pd.DataFrame({"Store": ["A", "B", "C", "D", "E"],  
                      "Revenue": [15000, 22000, 18000, 25000, 21000]})
```
- a) Compute the median revenue.  
- b) Calculate the standard deviation of revenue.  
- c) Find the interquartile range (IQR) of revenue.

In [3]:
#     **Solution**
# Type your solution here.

## Q4: Grouping and Aggregation: 
A company is analyzing employee salaries:  
```python
employees = pd.DataFrame({"Department": ["Engineering", "Marketing", "Engineering", "HR", "Marketing"],  
                          "Salary": [80000, 60000, 90000, 50000, 65000]})
```
- a) Calculate the total salary expenditure for each department.  
- b) Identify the department with the highest average salary.  
- c) Compute the salary range (max - min) for each department.

In [4]:
#     **Solution**
# Type your solution here.

## Q5: Correlation and Covariance:**  
A stock analyst is tracking two stocks over time:  
```python
dates = pd.date_range("2024-02-01", periods=6)  
stocks = pd.DataFrame({"TSLA": [200, 210, 215, 220, 230, 235],  
                       "AMZN": [3000, 3100, 3150, 3200, 3300, 3400]}, index=dates)
```
- a) Calculate the correlation between TSLA and AMZN stock prices.  
- b) Compute the covariance between TSLA and AMZN.

In [5]:
#     **Solution**
# Type your solution here.

## Q6: Unique Values, Frequency, and Membership: 
You have the following dataset of fruit sales:  
```python
fruits = pd.Series(["apple", "banana", "apple", "grape", "banana", "apple", "kiwi", "orange", "kiwi"])
```
- a) Find the unique fruit names in the dataset.  
- b) Count the occurrences of each fruit.  
- c) Check if "grape" exists in the dataset.

In [6]:
#     **Solution**
# Type your solution here.

## Q7: Handling Missing Data:
A weather station records temperature data, but some values are missing:  
```python
weather = pd.DataFrame({"Day": ["Mon", "Tue", "Wed", "Thu", "Fri"],  
                        "Temperature": [68, np.nan, 75, np.nan, 80]})
```
- a) Fill the missing temperatures with the column mean.  
- b) Remove any rows with missing data.  
- c) Replace missing values with the median temperature instead.

In [7]:
#     **Solution**
# Type your solution here.