# Intro to Data Science - Homework 2 - Spring 2025 - Wilmington College
## Due Date: February 21, 2025

## Q1: DataFrame Computation:
You are given the following DataFrame `df`:  

```python
df = pd.DataFrame({"Temperature": [72, 85, 90, 78, 65], "Humidity": [40, 55, 60, 50, 35]})
```

- a) Compute the average temperature.  
- b) Find the highest humidity recorded.  
- c) Calculate the cumulative sum of both columns.  
- d) Determine the difference between the maximum and minimum temperature.

In [1]:
#     **Solution**
# Type your solution here.
import pandas as pd
df = pd.DataFrame({"Temperature": [72, 85, 90, 78, 65], "Humidity": [40, 55, 60, 50, 35]})
print(df)
average_temp = df["Temperature"].mean()
print(average_temp)
highest_humid = df["Humidity"].max()
print(highest_humid)
cumulative = df.cumsum()
print(cumulative)
maxMinDiff = df["Temperature"].max() - df["Temperature"].min()
print(maxMinDiff)

   Temperature  Humidity
0           72        40
1           85        55
2           90        60
3           78        50
4           65        35
78.0
60
   Temperature  Humidity
0           72        40
1          157        95
2          247       155
3          325       205
4          390       240
25

## Q2: Sorting and Ranking: 
Consider the DataFrame `cities`:  
```python
cities = pd.DataFrame({"City": ["New York", "Los Angeles", "Chicago", "Houston"],  
                       "Population": [8500000, 4000000, 2700000, 2300000],  
                       "Area": [300, 500, 600, 700]})
```
- a) Sort the cities by population in descending order.  
- b) Rank the cities based on area, with the largest getting rank 1.  
- c) Sort the DataFrame by city names alphabetically.

In [8]:
#     **Solution**
# Type your solution here.
import pandas as pd
cities = pd.DataFrame({"City": ["New York", "Los Angeles", "Chicago", "Houston"], 
                       "Population": [8500000, 4000000, 2700000, 2300000], 
                       "Area": [300, 500, 600, 700]})
print(cities)
print(cities.sort_values("Population", ascending=False))
print(cities["Area"].rank(ascending=False))
print(cities.sort_values("City"))

          City  Population  Area
0     New York     8500000   300
1  Los Angeles     4000000   500
2      Chicago     2700000   600
3      Houston     2300000   700
          City  Population  Area
0     New York     8500000   300
1  Los Angeles     4000000   500
2      Chicago     2700000   600
3      Houston     2300000   700
0    4.0
1    3.0
2    2.0
3    1.0
Name: Area, dtype: float64
          City  Population  Area
2      Chicago     2700000   600
3      Houston     2300000   700
1  Los Angeles     4000000   500
0     New York     8500000   300

## Q3: Statistical Analysis: 
Given the following sales data:  
```python
sales = pd.DataFrame({"Store": ["A", "B", "C", "D", "E"],  
                      "Revenue": [15000, 22000, 18000, 25000, 21000]})
```
- a) Compute the median revenue.  
- b) Calculate the standard deviation of revenue.  
- c) Find the interquartile range (IQR) of revenue.

In [16]:
#     **Solution**
# Type your solution here.
import pandas as pd
sales = pd.DataFrame({"Store": ["A", "B", "C", "D", "E"],
                      "Revenue": [15000, 22000, 18000, 25000, 21000]}) 
print(sales)
print(sales["Revenue"].median())
print(sales["Revenue"].std())
q1 = sales["Revenue"].quantile(0.25)
q3 = sales["Revenue"].quantile(0.75)
iqr = q3 - q1
print(iqr)

  Store  Revenue
0     A    15000
1     B    22000
2     C    18000
3     D    25000
4     E    21000
21000.0
3834.0579025361626
4000.0

## Q4: Grouping and Aggregation: 
A company is analyzing employee salaries:  
```python
employees = pd.DataFrame({"Department": ["Engineering", "Marketing", "Engineering", "HR", "Marketing"],  
                          "Salary": [80000, 60000, 90000, 50000, 65000]})
```
- a) Calculate the total salary expenditure for each department.  
- b) Identify the department with the highest average salary.  
- c) Compute the salary range (max - min) for each department.

In [5]:
#     **Solution**
# Type your solution here.
import pandas as pd 
employees = pd.DataFrame({"Department": ["Engineering", "Marketing", "Engineering", "HR", "Marketing"], 
                          "Salary": [80000, 60000, 90000, 50000, 65000]})
print(employees)
print(employees.groupby("Department").sum())
avg_salary = employees.groupby("Department").mean()
print(avg_salary.max())
max_salary = employees.groupby("Department").max()
min_salary = employees.groupby("Department").min()
salary_range = max_salary - min_salary
print(salary_range)

    Department  Salary
0  Engineering   80000
1    Marketing   60000
2  Engineering   90000
3           HR   50000
4    Marketing   65000
             Salary
Department
Engineering  170000
HR            50000
Marketing    125000
Salary    85000.0
dtype: float64
             Salary
Department
Engineering   10000
HR                0
Marketing      5000

## Q5: Correlation and Covariance:**  
A stock analyst is tracking two stocks over time:  
```python
dates = pd.date_range("2024-02-01", periods=6)  
stocks = pd.DataFrame({"TSLA": [200, 210, 215, 220, 230, 235],  
                       "AMZN": [3000, 3100, 3150, 3200, 3300, 3400]}, index=dates)
```
- a) Calculate the correlation between TSLA and AMZN stock prices.  
- b) Compute the covariance between TSLA and AMZN.

In [12]:
#     **Solution**
# Type your solution here.
dates = pd.date_range("2024-02-01", periods=6)
stocks = pd.DataFrame({"TSLA": [200, 210, 215, 220, 230, 235],
                       "AMZN": [3000, 3100, 3150, 3200, 3300, 3400]}, index=dates)
print(stocks["TSLA"].corr(stocks["AMZN"]))
print(stocks["TSLA"].cov(stocks["AMZN"]))

0.9938586931957761
1833.3333333333333

## Q6: Unique Values, Frequency, and Membership: 
You have the following dataset of fruit sales:  
```python
fruits = pd.Series(["apple", "banana", "apple", "grape", "banana", "apple", "kiwi", "orange", "kiwi"])
```
- a) Find the unique fruit names in the dataset.  
- b) Count the occurrences of each fruit.  
- c) Check if "grape" exists in the dataset.

In [15]:
#     **Solution**
# Type your solution here.
import pandas as pd
fruits = pd.Series(["apple", "banana", "apple", "grape", "banana", "apple", "kiwi", "orange", "kiwi"])
uniques = fruits.unique()
print(uniques)
counts = fruits.value_counts()
print(counts)
mask = fruits.isin(["grapes"])
print(mask)

['apple' 'banana' 'grape' 'kiwi' 'orange']
apple     3
banana    2
kiwi      2
grape     1
orange    1
Name: count, dtype: int64
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

## Q7: Handling Missing Data:
A weather station records temperature data, but some values are missing:  
```python
weather = pd.DataFrame({"Day": ["Mon", "Tue", "Wed", "Thu", "Fri"],  
                        "Temperature": [68, np.nan, 75, np.nan, 80]})
```
- a) Fill the missing temperatures with the column mean.  
- b) Remove any rows with missing data.  
- c) Replace missing values with the median temperature instead.

In [17]:
#     **Solution**
# Type your solution here.
import pandas as pd
import numpy as np
weather = pd.DataFrame({"Day": ["Mon", "Tue", "Wed", "Thu", "Fri"],
                        "Temperature": [68, np.nan, 75, np.nan, 80]})
weather.fillna(value=weather["Temperature"].mean())
weather.dropna()
weather.fillna(weather["Temperature"].median())

   Day  Temperature
0  Mon         68.0
1  Tue         75.0
2  Wed         75.0
3  Thu         75.0
4  Fri         80.0